{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head> 
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">

    <js-placeholder token="{{ placeholder_token|raw }}">

    <link rel="stylesheet" href="{{ theme_path }}/css/customize.css" media="screen" />
    <link rel="stylesheet" href="{{ theme_path }}/css/custom.css" media="screen" />
    <link rel="stylesheet" href="{{ theme_path }}/css/update.css" media="screen" />
    
    {% if customize_css %}
      <style class="gva-custom-css">{{ customize_css }}</style>
    {% endif %}  

    
  </head>
  <body{{ attributes }}>
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7PP7M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N7PP7M');</script>
<!-- End Google Tag Manager -->

    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Ophthalmologist Spartanburg SC'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    {% if addon_template %}
      <div class="permission-save-{{ save_customize_permission }}">
        {% include directory ~ addon_template %}
      </div>  
    {% endif %}
  </body>
</html>
