/* @override 
	http://palm.prolifik.marketing/themes/gavias_emon/css/custom.css */
	

	/* @end */

.block-content p{
margin-bottom: 0.5em;
line-height: 1.25em;
}

.block-content a {
	color: #4C9D65;
}
.views-row {
	margin-bottom: 15px;
}

ul.contact-info, #block-gavias-emon-linkfooter ul {
	list-style: none;
}

div.site-branding__name {
	text-align: center;
	font-family: Montserrat;
	position: relative;
	bottom: 15px;
}

#block-gavias-emon-mainnavigation {
	margin-top: 10px;
}

/* @group Prolifik CSS Holds */
.weak {text-decoration: none;}

.caption-title span.thememute {
	color: #adadad;
}


/* @end */
.white {color: white}
.black {color: black;}
.xxlarge {font-size: xx-large;
font-family:"Montserrat", serif;}
.xlarge {font-size: x-large;
font-family:"Montserrat", serif;}
div.hero.view-mode-full div {
	position: relative;
}
.side-cta {
	line-height: 1;
}

.height-padding-5percent {
	padding-top: 5%;
	padding-bottom: 5%;
}

.height-padding-8percent {
	padding-top: 8%;
	padding-bottom: 8%;
}

#block-gavias-emon-gaviasblockbuiderourteam p.team-info {
	height: 5em;
}

.teampic {
	margin-top: 15px;
}
/*Allison CSS*/

.gavias-parallax.hero-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(0,0,0,0.2);
        
}
.bottom-padding {
    padding-bottom:15px;
}
.padding-top { 15px; 
}
.icon-box-space {
    margin-bottom:15px;
}

.padding-left {
    padding-left:20px;
}

.large {
    font-size:20px;
    font-weight:bold;
}

.view-testimonials .field-name-body p::before {
    content: "\f10d";
    font: 2.5em fontawesome;
    float: left;
    border: 1px solid silver;
    border-radius: 7px;
    padding: 7px;
    margin-right: 10px;
}

.center, .centered {text-align:center;}

.margin-top {margin-top: 15px;}

.margin-bottom {margin-bottom:15px;}

.margin-left {margin-left:20px;}

.padding-right{padding-right:20px;}

.footer-icon {
  color: #878787;
  font-size:15px;
}
.row .column-inner {
	margin-top: 10px;
	margin-bottom: 10px;
}
span.icon-spacing {
	margin-left: 20px;
}

.caption-title-big {
    font-weight:900;
    font-size:40px
}

.panel-front-1 {
    background-image: url('/eye_doctor/gbb-uploads/eye_doctor_collapse1-1-1.jpg');
    padding:8% 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0;
}
.panel-front-1:hover, .panel-front-2:hover, .panel-front-3:hover, .panel-front-4:hover, .panel-front-5:hover, .panel-front-6:hover {
	opacity: .85
}

.panel-front-2 {
    background-image: url('/eye_doctor/gbb-uploads/eye_doctor_collapse2-1.jpg');
    padding:8% 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0;
}

.panel-front-3 {
    background-image: url('/eye_doctor/gbb-uploads/eye_doctor_collapse3-1.jpg');
    padding:8% 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0;
}

.panel-front-4 {
    background-image: url('/eye_doctor/gbb-uploads/eye_doctor_collapse4-1.jpg');
    padding:8% 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0;
}

.panel-front-5 {
    background-image: url(/eye_doctor/gbb-uploads/eye_doctor_collapse5-1.jpg);
    padding:8% 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0;
}

.panel-front-6 {
    background-image: url('/eye_doctor/gbb-uploads/eye_doctor_collapse6-1.jpg');
    padding:8% 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0;
}

.page-node-88 .panel-title-front {
    color:#fff;
    padding-left: 40%;
    cursor:pointer;
    border: none;
}
.page-node-88 .panel-default {
  border: none;
  background-color: transparent;
}

/*.collapse-link a {
	padding: 0 0 10px;
}*/

.collapse-link:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.collapse-link:hover::after,
.collapse-link:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.front-accordion.panel {
    background-color:#fff;
    border:none;
}

.panel-front-body-1 {
    background-color:#18A25B;
    color:#fff;
    padding:15px 5%;
    height: 200px;
    overflow-y:scroll;
}

.panel-front-body-2 {
    background-color:#0D703F;
    color:#fff;
    padding:15px 5%;
    height: 200px;
    overflow-y:scroll;
}

.panel-front-body-3 {
    background-color:#043C22;
    color:#fff;
    padding:15px 5%;
    height: 200px;
    overflow-y:scroll;
}


/*---row of animated circles front page---*/

.circle-1 {
   width:200px;
   height:200px;
   border-radius:50%;
   background-color:#65CEEB;
}

.circle-2 {
   width:200px;
   height:200px;
   border-radius:50%;
   background-color:#52AEC7;
}

.circle-3 {
   width:200px;
   height:200px;
   border-radius:50%;
   background-color:#408DA4;
}

.circle-4 {
   width:200px;
   height:200px;
   border-radius:50%;
   background-color:#2C6672;
}

.circle-1 p {
    color:#fff; 
    font-size:18px;
    padding:37% 15%;;
    text-align:center;
    font-weight:bold;
    
}
.circle-2 p {
    color:#fff; 
    font-size:18px;
    padding:10%;
    padding:37% 15%;;
    text-align:center;
    font-weight:bold;
    
}
.circle-3 p {
    color:#fff; 
    font-size:18px;
    padding:10%;
    padding:37% 15%;;
    text-align:center;
    font-weight:bold;
    
}
.circle-4 p {
    color:#fff; 
    font-size:18px;
    padding:10%;
    padding:30% 15%;;
    text-align:center;
    font-weight:bold;
    
}

.circle-1:hover {
    background-color:#52AEC7;
    cursor: pointer;
    
}



.circle-2:hover {
    background-color:#408DA4;
   cursor: pointer;
}

.circle-3:hover {
    background-color:#2C6672;
    cursor: pointer;
   
}

.circle-4:hover {
    background-color:#1c4249;
    cursor: pointer;
    
}


/*---end circle css---*/


.spartanburg {
    padding:10% 0;
}

.spartanburg-text {
    font-size:40px;
    color:#fff;
}

.btn-w-outline  {
    border: 1px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    backface-visibility: hidden;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
}

.btn-w-outline-sm  {
    border: 1px solid #fff;
    font-size: 12px;
    text-transform: uppercase;
    backface-visibility: hidden;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
}


.btn-flat {
    background: #00703c;
    color: #fff;
    border-color: #00703c;
}

.btn-flat:hover {
    background-color:white;
    color:#00703c;
    border:2px solid #fff;
}

.front-tabs {
    
}

.front-tabs.nav-tabs > li > a {
    border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.margin-right {
    margin-right:
}

.margin-left {
    margin-left:3%;
}

.panel-group .panel + .panel {
    margin-top:0px;

}

.panel-group {margin-bottom:0px;}


.btn-primary {
    background-color:#00703C;
    border-color:#00703c;
    
}

.gavias-slider .btn-slide.btn-slide-flat {
    background: #00703c;
    color: #fff;
    border-color: #00703c;
}

#block-gaviassliderpalmettohome div.caption-title {
	line-height: 1em;
}

.v-middle {
    vertical-align: middle;
    line-height: 1.25em;
	margin-bottom: 5px;
}

div.gsc-tabs .tab-pane {
	padding-top: 0;
}

.page-node-88 .gsc-tabs .tabs_wrapper.tabs_vertical .tab-content .tab-pane {
  padding: 10px 15px 10px 15px;
      line-height: 1.25em;
}

#tab-hQ4Ee-1 div.row div.col-xs-8 {
	margin-top: 20px;
}

header.header-v3 .main-menu .gva_menu > li > a {
    border: none;
    padding: 35px 5px;
}

.navigation .gva_menu > li > a {
    font-size:12px;
}

.green-CTA {
    padding:2%;
    background-color:#00703C;
    color:#fff;
    text-align:center;  
}

.green-outline-CTA {
    padding:2%;
    border: 2px solid #00703C;
    text-align:center;
}

.green {
    color:#00703C;
}

.fa.fa-circle { 
    font-size:9px;
}

.icon-box {
    border: 1px solid #AAA;
  
}

.green-icon {
    padding-top:20px;
    background-color:#00703c; 
    border-radius:10px;
    border:3px solid #fff;
    height:190px;
}

header.header-v3 .header-main .branding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.block-views-blockstaff-block-1.div a{
    color:#fff;
}

.white a {
    color:#fff;
}

.btn.btn-primary a {
    color:#fff;
}

header.header-v3 .topbar {
    background-color: #00703c;
    color: #fff;
}
    
#block-topsocialheader {
  padding-top:10px;
  margin-bottom: 10px;  
}

#block-topsocialheader i {
    margin-right:8px;
}

.front-tabs-padding {
    padding-top: 30px;
    padding-bottom: 30px; 
}

ul li.bullets {
    list-style: circle
}

.page-node-88 .gsc-tabs .tabs_wrapper.tabs_vertical .nav-tabs > li {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  margin-right: 0;
  padding-right: 0px;
}

.page-node-88 .nav-tabs > li > a {
	border: 0;
	border-radius: 0;
}

div.fsBody.fsEmbed span {
	font-size: 1.5em;
}
div.fsBody.fsEmbed label {
	font-size: .85em;
}

div.fsBody.fsEmbed input {
	font-size: .5em;
}