.slick-slider{
  margin-bottom: 0!important;
}
.gavias-slider{ 
  width: 100%;
  height: auto;
  position: relative;
  .swiper-slide{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
  }  
  .slider-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .gavias-opacity{
    @include opacity(1);
  }
  .gavias-slide-overlay{
    background: url(#{$base-theme-image-path}/grid-slide.png) repeat rgba(0, 0, 0, 0.3);
    position: absolute;
    @include size(100%, 100%);
    top: 0;
    left: 0;
    z-index: 9;
  }

  /* Customize css gavias slider */
  .gavias-slider-image {
    min-width: 100%;
    min-height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background-position: 50% 0;
    background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 2;
  }

  .swiper-slide {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
  }

  .swiper-slide .tp-caption {
    margin-top: 100px;
  }

  .tp-caption{
    .caption-title{
      font-family: $font-second;
    }
    .caption-description{
      font-family: $font-family-base;
    }
    &.caption-skin-dark{
      color: $black;
      .caption-inner{
        color: $black;
      }  
    }
    &.caption-skin-light,  &.caption-skin-white{
      .caption-inner{
        color: $white;
      }
    }
    .caption-title, .caption-description{
      color: $black;
      .caption-inner[style*='background-color']{
        display: inline-block;
        @include border-radius(5px);
        margin: 10px 0;
        padding: 5px 15px;
        @include clearfix();
      }
    }
    .caption-description{
      .caption-inner[style*='background-color']{
        margin-bottom: 0!important;
      }
    }
  }

  .swiper-slide.left_top .tp-caption,
  .swiper-slide.center_top .tp-caption,
  .swiper-slide.right_top .tp-caption {
    margin-top: 100px;
  }
  
  .swiper-slide.center_top,
  .swiper-slide.center_center,
  .swiper-slide.center_bottom {
    text-align: center;
  }

  .swiper-slide.center_top .tp-caption,
  .swiper-slide.center_center .tp-caption,
  .swiper-slide.center_bottom .tp-caption {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;  
    display: block;
  }


  .swiper-slide.right_top .tp-caption,
  .swiper-slide.right_center .tp-caption,
  .swiper-slide.right_bottom .tp-caption {
    float: right;
  }

  .swiper-wrapper{
    height: auto!important;
  }
    

  .caption-description{
    color: $white;
    font-size: 18px;
    text-transform: none;
    font-weight: 400;
    padding-bottom: 10px;
    @media(max-width: $screen-sm-max){
        font-size: 16px!important;
      }
  }
    
  .caption-title {
      font-size: 50px;
      color: $white;
      list-style: none;
      text-transform: uppercase;
      font-weight: 700;
      font-family: $font-second;
      @media(max-width: $screen-sm-max){
        font-size: 25px!important;
      }
  }

  .btn-slide{
    border: 2px solid $white;
    font-size: 14px;
    text-transform: uppercase;
    backface-visibility: hidden;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    color: $white;
    padding: 10px 20px;
    @include transition(all 0.35s);
    @media(max-width: $screen-sm-max){
      padding: 5px 10px;
      font-size: 12px;
    }
    &.btn-slide-flat{
      background: $theme-color;
      color: $white;
      border-color: $theme-color;
    }
    &:hover{
      color: $black;
      background: $white;
      border-color: $white;
    } 
  }

  .caption-title {
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  }
  .caption-description {
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
  }
  .slider-action {
    margin-top: 15px;
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
    -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
  }

    .gavias-default_anim .caption-title,
    .gavias-default_anim .caption-description,
    .gavias-default_anim .slider-action {
      -webkit-transform: translate(0, 70px);
      -moz-transform: translate(0, 70px);
      -ms-transform: translate(0, 70px);
      -o-transform: translate(0, 70px);
      transform: translate(0, 70px);
      ms-transform: translate(0, 70px);
      @include opacity(0);
    }

    .slick-active .gavias-default_anim {
    .caption-title, .caption-description, .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
      @include opacity(1);
    }
  }
    .gavias-fade-in .caption-title,
    .gavias-slide-top .caption-title,
    .gavias-slide-left .caption-title,
    .gavias-slide-bottom .caption-title,
    .gavias-slide-right .caption-title,
    .gavias-scale-down .caption-title,

    .gavias-fade-in .caption-description,
    .gavias-slide-top .caption-description,
    .gavias-slide-left .caption-description,
    .gavias-slide-bottom .caption-description,
    .gavias-slide-right .caption-description,
    .gavias-scale-down .caption-description,

    .gavias-fade-in .slider-action,
    .gavias-slide-top .slider-action,
    .gavias-slide-left .slider-action,
    .gavias-slide-bottom .slider-action,
    .gavias-slide-right .slider-action,
    .gavias-scale-down .slider-action {
      @include opacity(0);
    } 
    .slick-active .gavias-fade-in .caption-title,
    .slick-active .gavias-fade-in .caption-description,
    .slick-active .gavias-fade-in .slider-action {
      @include opacity(1);
    }
    .gavias-slide-top .caption-title,
    .gavias-slide-top .caption-description,
    .gavias-slide-top .slider-action {
      -webkit-transform: translate(0, -70%);
      -moz-transform: translate(0, -70%);
      -ms-transform: translate(0, -70%);
      -o-transform: translate(0, -70%);
      transform: translate(0, -70%);
      ms-transform: translate(0, -70%);
    }
    .slick-active .gavias-slide-top .caption-title,
    .slick-active .gavias-slide-top .caption-description,
    .slick-active .gavias-slide-top .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
      @include opacity(1);
    }
    .gavias-slide-left .caption-title,
    .gavias-slide-left .caption-description,
    .gavias-slide-left .slider-action {
      -webkit-transform: translate(-100%, 0);
      -moz-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      -o-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      ms-transform: translate(-100%, 0);
    }
    .slick-active .gavias-slide-left .caption-title,
    .slick-active .gavias-slide-left .caption-description,
    .slick-active .gavias-slide-left .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
      @include opacity(1);
    }
    .gavias-slide-bottom{
      .caption-title,
      .caption-description,
      .slider-action {
        -webkit-transform: translate(0, 70%);
        -moz-transform: translate(0, 70%);
        -ms-transform: translate(0, 70%);
        -o-transform: translate(0, 70%);
        transform: translate(0, 70%);
        ms-transform: translate(0, 70%);

      }
    }  

    .slick-active .gavias-slide-bottom .caption-title,
    .slick-active .gavias-slide-bottom .caption-description,
    .slick-active .gavias-slide-bottom .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
     @include opacity(1);
    }
    .gavias-slide-right .caption-title,
    .gavias-slide-right .caption-description,
    .gavias-slide-right .slider-action {
      -webkit-transform: translate(70%, 0);
      -moz-transform: translate(70%, 0);
      -ms-transform: translate(70%, 0);
      -o-transform: translate(70%, 0);
      transform: translate(70%, 0);
      ms-transform: translate(70%, 0);
    }
    .slick-active .gavias-slide-right .caption-title,
    .slick-active .gavias-slide-right .caption-description,
    .slick-active .gavias-slide-right .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
      @include opacity(1);
    }
    .gavias-scale-down .caption-title,
    .gavias-scale-down .caption-description,
    .gavias-scale-down .slider-action {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
      ms-transform: scale(1.3);
    }
    .slick-active .gavias-scale-down .caption-title,
    .slick-active .gavias-scale-down .caption-description,
    .slick-active .gavias-scale-down .slider-action {
      @include opacity(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      ms-transform: scale(1);
    }
    .gavias-flip-x,
    .gavias-flip-y {
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-perspective: 1000;
      -webkit-animation-duration: 0.6s;
      -moz-animation-duration: 0.6s;
      -o-animation-duration: 0.6s;
      animation-duration: 0.6s;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1;
      -o-animation-delay: 1s;
      animation-delay: 1s;
    }
    .slick-active .gavias-flip-x {
      -webkit-animation-name: gavias_flip_x;
      -moz-animation-name: gavias_flip_x;
      -o-animation-name: gavias_flip_x;
      animation-name: gavias_flip_x;
    }
    .slick-active .gavias-flip-y {
      -webkit-animation-name: gavias_flip_y;
      -moz-animation-name: gavias_flip_y;
      -o-animation-name: gavias_flip_y;
      animation-name: gavias_flip_y;
    }
    .gavias-slider-loading {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #004551;
      .gavias-preloader {
        top: 50%;
      }
    }
  
    .gavias-skip-slider {
      position: absolute;
      display: table;
      left: 50%;
      bottom: 8%;
      cursor: pointer;
      margin: -24px 0 0 -24px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
     @include opacity(0.9);
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }

    .gavias-skip-slider i {
      font-size: 16px; 
      display: table-cell;
      vertical-align: middle;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
    .gavias-skip-slider:hover {
      @include opacity(1);
    }

    .gavias-skip-slider:hover i {
      -webkit-transform: translate3d(0, 5%, 0);
      -moz-transform: translate3d(0, 5%, 0);
      -ms-transform: translate3d(0, 5%, 0);
      -o-transform: translate3d(0, 5%, 0);
      transform: translate3d(0, 5%, 0);
      ms-transform: translate3d(0, 5%, 0);
    }

}

 /* Flip Horizontally */ 
@-webkit-keyframes gavias_flip_x {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    @include opacity(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    @include opacity(1);
  }
}
@-moz-keyframes gavias_flip_x {
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    @include opacity(0);
  }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    @include opacity(1);
  }
}
@-o-keyframes gavias_flip_x {
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    @include opacity(0);
  }
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    @include opacity(1);
  }
}
@keyframes gavias_flip_x {
  0% {
    transform: perspective(400px) rotateX(90deg);
    @include opacity(0);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    @include opacity(1);
  }
}
/* Flip Vertically */
@-webkit-keyframes gavias_flip_y {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    @include opacity(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    @include opacity(1);
  }
}
@-moz-keyframes gavias_flip_y {
  0% {
    -moz-transform: perspective(400px) rotateY(90deg);
    @include opacity(0);
  }
  100% {
    -moz-transform: perspective(400px) rotateY(0deg);
    @include opacity(1);
  }
}
@-o-keyframes gavias_flip_y {
  0% {
    -o-transform: perspective(400px) rotateY(90deg);
    @include opacity(0);
  }
  100% {
    -o-transform: perspective(400px) rotateY(0deg);
    @include opacity(1);
  }
}
@keyframes gavias_flip_y {
  0% {
    transform: perspective(400px) rotateY(90deg);
    @include opacity(0);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    @include opacity(1);
  }
}

.gavias-slider{
  position: relative;
  .slick-dots{
    position: absolute;
    bottom: 0;
    > li{
      @include size(10px, 10px);
      @include border-radius(50%);
      background: #ccc;
      button{
        display: none;
      }
      &.slick-active{
        background: $theme-color;
      }
    }
  }
  .draggable {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .draggable:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .slick-prev, .slick-next { 
    display: block;
    color: $white;
    width: 50px;
    text-align: center;
    @include size(40px, 40px);
    line-height: 40px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    @include transition(all 0.35s);
    margin-top: -20px;
    padding-top: 6px;
    @include opacity(0);
    &:hover{
      background: $theme-color; 
    }
    i{
      font-size: 20px;
    }
    &:before{
      display: none;
    }
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
  }
  &:hover{ 
    .slick-prev, .slick-next{
      @include opacity(1);
    }
    .slick-prev {
      left: 20px;
    }
    .slick-next {
      right: 20px;
    }
  }
}
